  <div class="actions">
    <%= @results["winner"] %>
  </div>
  <div class="actions">
    Strengths:
    <%= @results["strengths"] %>
  </div>
  <div class="actions">
    Weaknesses:
    <%= @results["weaknesses"] %>
  </div>
  <div class="actions">
    Ties:
    <%= @results["ties"] %>
  </div>
